Checks:
    bugprone-*,
    clang-analyzer-*,
    misc-*,
    cppcoreguidelines-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,

    -cppcoreguidelines-pro-type-union-access,
    -modernize-use-trailing-return-type,
    -readability-named-parameter,
